body {
  --bg: #545351;
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  --width-mm: 210;
  --width: min(210mm, 97vw);
  --mm: calc(var(--width) / var(--width-mm));
  --font-size-pt: 12;
  --pt: calc(var(--mm) * 0.352778);
  /* width: var(--width); */
  font-size: calc(var(--pt) * var(--font-size-pt));
}


section-row > .dox-node:nth-child(n + 2){
  margin-left: 1em;
}


h1 {
  font-size: 1.7em;
}
section-row {
  display: flex;
}
rich-text {
  display: block;
  font-size: calc(var(--font-size-pt) * var(--pt))
}

section {
  display: flex;
  flex-direction: column;
}
section-image img{
  width: 100%;
  /* height: 100%; */
}

section-image {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 100%; */
}

section-row > .wide {
  width: 100%;
}


@media print{
  body {
    width: 210mm;
    position: relative;
    background: white;
  }
}
