/* body {
  --page-spacing: 1vw;
  --pagew: 210;
  --pageh: 296.8;
  --margin: 12;
  --pagefs: 4.3;

  --page-background: white;

  --display-width: min(calc(100vw - 2 * var(--page-spacing)), 210mm);

  --pages: 1;
  --width: var(--display-width);
  --col-vw: calc( var(--width) * ( var(--pagew) - 2 * var(--margin) ) / var(--pagew) );
  --marg: calc(var(--width) * (var(--margin) / var(--pagew)));
  --height: calc(var(--width) * var(--pageh) / var(--pagew));

  --font-size: calc( var(--width) * var(--pagefs) / var(--pagew));

  overflow-x: hidden;
  font-size: var(--font-size);
  width: var(--width);
  margin: var(--page-spacing) auto;
}





.page:nth-of-type(n+2){
  margin-top: var(--page-spacing);
}

#rel {
  overflow-x: hidden;
  position: relative;
}
#doc {
  opacity: 0;
} */

dox-pages {
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  --width-mm: 210;
  --height-mm: 297.8;
  --page-background: white;
  --m-l: 20;
  --m-r: 20;
  --m-t: 20;
  --m-b: 20;
  --f-s: 12;

  --mm: calc(var(--width) / var(--width-mm));
  --pt: calc(var(--mm) * 0.352778);

  --height: calc(var(--height-mm) * var(--mm));

  --margin-left: calc(var(--m-l) * var(--mm));
  --margin-right: calc(var(--m-r) * var(--mm));
  --margin-top: calc(var(--m-t) * var(--mm));
  --margin-bottom: calc(var(--m-b) * var(--mm));

  --inner-width: calc(var(--width) - var(--margin-left) - var(--margin-right));
  --inner-height: calc(var(--height) - var(--margin-top) - var(--margin-bottom));

  font-size: calc(var(--f-s) * var(--pt));
}

.page-background {
  background: var(--page-background);
  position: absolute;
  top: 0;
  left: calc(-1 * var(--page-x-adjust));
  width: var(--width);
  z-index: -1;
  bottom: 0;
}

.page-background > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.page-background .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--margin-top);
}
.page-background .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--margin-bottom);
}
.page-background .footer {

}


.page {
  --page: 0;
  /* background: white; */
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  padding-top: var(--margin-top);
  padding-bottom: var(--margin-bottom);
  column-gap: calc(var(--margin-right) + var(--margin-left));

  width: var(--inner-width);
  height: var(--inner-height);
  column-width: var(--inner-width);
  counter-reset: page calc(var(--page) + 1);
  column-count: 1000;

  --page-x-adjust: calc(-1 * var(--page) * var(--width));
  transform: translate(var(--page-x-adjust), 0);
  position: relative;

  margin-bottom: 1em;
  margin-top: 1em;
}
