.row > .dox-node:nth-child(n + 2){
  margin-left: 1em;
}


h1 {
  font-size: 1.7em;
}
.row {
  display: flex;
}
.rich-text {
  display: block;
  font-size: calc(var(--font-size-pt) * var(--pt))
}

.section {
  display: flex;
  flex-direction: column;
}
.image img{
  width: 100%;
  /* height: 100%; */
}

.image {
  display: flex;
  flex-direction: column;
}

.row .wide {
  width: 100%;
}
